.disabledicon path {
    fill: #ADAEAF;
}
.activeicon path {
    fill: #333333;
}
rect :active{
  cursor: move;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


.circle {
  stroke: rgb(190, 190, 190);
  stroke-width: 1px;
}

.text_bbox.highlight {
 fill-opacity: 0.1;
 stroke-opacity: 1;
 stroke-width: 5;
}

.text_bbox {
 fill-opacity: 0.3;
 stroke-opacity: 0.1;
}

.auxiliary {
  stroke-width: 5px;
  stroke-dasharray: 5,5;
}
.trend_arrow {
  stroke-width: 5px;
  stroke-dasharray: 5,5;
  stroke: #a6d854;
}

.line {
  fill: none;
  stroke-width: 0.3vh;
}
#wrapper{
    height:100vh;
}
table {
   table-layout: fixed;
}
#left-wrapper {
    top: 10vh;
}
#right-wrapper {
    top: 10vh;
}
#visualization {
    height: 83vh;
    width: 100%;
    text-align:center;
    /* position: fixed ! important; */
}
#visualization svg{
    /* height: 500px;
    width: 660px; */
    position: relative;
}
#annotationDiv {
  height: 83vh;
  width: 100%;
  text-align:center;
  z-index: 1000;
}
#annotationDiv svg{
  position: relative;
}
#chart-title {
    position: relative;
    top: 10px;
}
.tick text{
    font-family: sans-serif;
    font-size: 15px;
}
#sentences_div {
    overflow:auto;
    height: 40vh;
    margin-bottom: 3vh;
}
#sentences_div div:hover {
    background-color: #F8F8F8;
    /* border:5px;
    border-radius:3px;
    box-shadow: 0px 4px 4px #DEDEDE; */
}
.text_block{
    border-top-color: #F8F8F8;
    border-top-style: solid;
}
#configure {
    text-align: center;
    height:40vh;
    overflow: scroll;
}
.popover-div{
    display: none;
}
body,html {
    background-color: white;
    height:100%;
}
.mycompare {
  opacity: 1;
  /* mask: url("#mask-blue"); */
  /* filter: url("#blue-shadow"); */
  /* fill: blue; */
}
.myfocus {
  opacity: 1;
  /* mask: url("#mask-red"); */
  /* filter: url("#red-shadow"); */
  /* fill: red; */
}
.myfocus circle{
  fill:red;
}
.nobody {
  opacity: 0.8;
}
.normal {
  opacity: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 249, 249, 0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #bbb;
    -webkit-box-shadow: inset 0 0 10px #F8F9FA;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #F8F8F8;
}
